 <div class="main-menu">

    <h1>LA GRAN BALLENA {{usersService.selectedUser.userName}}</h1>

    <form *ngIf="menuLogin; else menuNewUser" #usersForm = "ngForm" (ngSubmit) = "loginUserForm(usersForm)">
      <input type="mail" name="userMail" #userName= "ngModel" [(ngModel)] = "usersService.selectedUser.userMail" placeholder="Correo">
      <input type="password" name="userPassword" #userPassword= "ngModel" [(ngModel)] = "usersService.selectedUser.userPassword" placeholder="Contraseña">
      <a (click)="menuLogin = !menuLogin ">Nuevo Usuario</a>
      <button (click)="ngSubmit">Jugar</button>
    </form>

    <ng-template #menuNewUser>
        <form #usersForm = "ngForm" (ngSubmit) = "saveUserForm(usersForm)">
            <input type="text" name="userName" #userName= "ngModel" [(ngModel)] = "usersService.selectedUser.userName" placeholder="Nombre">
            <input type="mail" name="userMail" #userMail= "ngModel" [(ngModel)] = "usersService.selectedUser.userMail" placeholder="Correo">
            <input type="password" name="userPassword" #userPassword= "ngModel" [(ngModel)] = "usersService.selectedUser.userPassword" placeholder="Contraseña">
            <a (click)="menuLogin = !menuLogin ">Login</a>
            <button (click)="ngSubmit">Guardar</button>
          </form>
    </ng-template>

 </div> 

